<div class="container">
    <div class="row">
      <div class="col-12 my-4">
        <div class="data-table">
          <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Título</th>
                    <th>Início</th>
                    <th>Cliente</th>
                    <th>Responsável</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <% serviceOrders.forEach(os => { %>
                  <tr>
                      <td><%= os.title %></td>
                      <td><%= os.start %></td>
                      <td><%= os.customer %></td>
                      <td><%= os.responsible %></td>
                      <td><a href="/register/<%= os._id %>" class="text-decoration-none">Editar</a></td>
                      <td><a href="/register/delete/<%= os._id %>" class="link-danger text-decoration-none">Excluir</a></td>
                  </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready( function () {
      var table = $('#example').DataTable({
        // language: {
        //     url: 'https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json'
        // },
        buttons:['pdf', 'csv', 'copy'],
      });
  
      table.buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)')
  } );
  </script>